body{
    background-image: linear-gradient( to right, #feb2c7,  #fe93af, #fe8c7e, #fea36d, #f1bb31, #ffcf3d, #ffd453);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
aside{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
input{
    margin-top: 1.5%;
    margin-bottom: 2%;
}
.posicaoTitulo{
    text-align: center;
    margin-top: 5%;
}
.posicaoTexto{
    text-align: center;
    margin-bottom: 5%;
}
.retanguloPerfil{
    text-align: center;
    margin-top: 1%;
    margin-left: 36%;   
    margin-right: 36%;
    margin-bottom: 10%;
    padding: 1%;
    border-radius: 15px;
    background-color: #ffffff;
}
.quadradoCadastro{
    text-align: center;
    margin-top: 1%;
    margin-left: 36%;   
    margin-right: 36%;
    margin-bottom: 10%;
    padding: 1%;
    border-radius: 15px;
    background-color: #ffffff;
}
.opcoesCadastro{
    display: inline;
}
.quadradoPaginaCentral{
    margin-top: 10%;
    margin-left: 20%;   
    margin-right: 20%;
    margin-bottom: 4%;
    border-radius: 15px;
    background-color: #ffffffcc;
}